/* General Styling */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  margin: 0 auto;
}

.flex_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site_container {
  display: flex;
  width: 960px;
}

div {
  border: 1px solid red;
}

/* Banner with header and tagline */

.banner {
  background-image: url('../images/banner.png');
  background-size: cover;
  background-position: center;
  height: 30rem;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: cadetblue;
  width: 100%;
  margin: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo p {
  padding-left: 1rem;
  font-size: 1rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

li {
  list-style: none;
  display: inline;
  padding: 0 2rem;
}

a:link {
  text-decoration: none;
  color: white;
}

.tag {
  justify-content: flex-end;
  margin-top: 10rem;
}

.tag-line {
  display: flex;
  padding: 1.5rem 5rem;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
