/* General Styling */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  margin: 0 auto;
}

.flex_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site_container {
  display: flex;
  width: 960px;
}

/* Banner with header and tagline */

.banner {
  background-image: url('../images/banner.png');
  background-size: cover;
  background-position: center;
  height: 30rem;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: cadetblue;
  width: 100%;
  margin: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo p {
  padding-left: 1rem;
  font-size: 1rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

li {
  list-style: none;
  display: inline;
  padding: 0 2rem;
}

a:link {
  text-decoration: none;
  color: white;
}

.tag {
  justify-content: flex-end;
  margin-top: 10rem;
}

.tag-line {
  display: flex;
  padding: 1.5rem 5rem;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-right: -2rem;
}

/* Services Section */

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  margin: 3rem 3rem;
  text-align: center;
}

img {
  width: 5rem;
  height: auto;
}

.exams img {
  width: 3.5rem;
}

/* Info setion */

.info_container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 2.5% 5rem 2.5%;
}

#block {
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
}

/* Footer */

footer {
  display: flex;
  width: 100%;
  background-color: azure;
}

footer span {
  display: flex;
  align-items: center;
}

footer img {
  display: flex;
  align-items: center;
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Media Query for Tablet */

@media only screen and (max-width: 1024px) {
  header {
   margin: 0;
 }

  .banner {
   height: 22rem;
 }

  .tag {
   margin-top: 5rem;
 }

  .tag-line {
    margin-right: 2rem;
    font-size: 1.33rem;
  }

  .tagline p {
    padding: 0.75rem 4rem;
  }

  .info_container .site_container {
    justify-content: center;
  }

}

/* Media Query for Phone */

@media only screen and (max-width: 470px) {

  header {
    width: 100%;
  }

  .site_container {
    width: 470px;
  }

  .banner {
    height: 17rem;
    background-position: 20%;
  }

  .tag {
    margin-top: 7rem;
  }

  .tag-line {
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    margin: 0;
    font-size: 1rem;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
  }

  .box {
    margin: 0.77rem 0;
    height: 5.5rem;
  }

  .exams {
    height: 7rem;
  }

  .info_container .site_container {
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 100%;
    justify-content: center;
    font-size: 0.77rem;
    margin-bottom: 4rem;
  }

  #block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 1rem 0;
  }

}
